# 忽略 MarkEditor 生成的文件

source/_posts/.Archive/
source/_posts/.markeditor/
source/_posts/configs/
.DS_Store
source/.DS_Store
source/_posts/.DS_Store
themes/.DS_Store
themes/even/.DS_Store
themes/even/layout/.DS_Store
themes/even/source/.DS_Store
themes/even/source/image/.DS_Store
themes/next/.DS_Store
themes/next/layout/.DS_Store
themes/next/layout/_partials/.DS_Store
themes/next/layout/_third-party/.DS_Store
themes/next/source/.DS_Store
themes/next/source/css/.DS_Store
themes/next/source/css/_common/.DS_Store
themes/next/source/css/_common/components/.DS_Store
themes/next/source/images/.DS_Store
themes/next/source/js/.DS_Store
themes/next/source/js/src/.DS_Store
themes/next/source/lib/.DS_Store







